@import "bourbon/bourbon";
@import "gridlex/gridlex.scss";

$gl-gutter: 0.1rem !default;
$def_font_color: black;

// https://glennmccomb.com/articles/useful-sass-scss-media-query-mixins-for-bootstrap/
$screen_size: (
    sm: 576px,
    md: 992px,
    lg: 1200px
);

$screen_height: (
    sm: 400px,
    md: 800px,
    lg: 1080px,
);

@mixin screen($size) {
    @if map-has-key($screen_size, $size) {
        $value: map-get($screen_size, $size);
        @media only screen and (max-width: $value) {
            @content;
        }

    } @else {
        @warn "Invalid breakpoint: #{$screen_size}.";
    }
}

html, body {
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}

.line-header {
    border-bottom-color: white;
    border-bottom-width: 1px;
    border-bottom-style: groove;
    padding-bottom: 1rem;
    margin-bottom: 0rem;
}

.main-section, .main-text-section, .main-text-section-white {
    color: white;
    margin-bottom: 0rem;

    font-size: 1.2rem;

    @include screen(md) {
        font-size: 2.5rem;
    }
}

.main-text-section, .main-text-section-white {
    @include padding(2rem 8rem);

    background-color: #447AA1;
    @include screen(md) {
        @include padding(2rem 4rem);
        font-size: 2.5rem;
    }
}

.main-text-section-white {
    color: black;
    background-color: white;
}

.c-blue-mid {
    background-color: #447aa1;
}

.full-image {
    object-fit: cover;
    width: 100%;

    @include screen(md) {
        height: map-get($screen_height, md);
    }
    @include screen(sm) {
        height: map-get($screen_height, sm);
    }
}

.image-text-container {
    display: inline-block;
    position: relative;
}

.title-text, .subtitle-text {
    color: black;
    text-align: center;
    // font-family: 'Koulen', cursive;
    font-family: 'Roboto', sans-serif;
}

.title-text {
    font-size: 5rem;

    @include screen(md) {
        text-align: left;
        font-size: 6rem;
    }

    @include screen(sm) {
        font-size: 3rem;
    }
}

.subtitle-text {
    font-size: 3.5rem;

    @include screen(md) {
        text-align: left;
        font-size: 2.5rem;
    }

    @include screen(sm) {
        font-size: 2.5rem;
    }
}

.text-img-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-img {
    position: absolute;

    left: 10%;
    top: 20%;

    width: 80%;

    @include screen(md) {
        left: 5%;
        top: 5%;
    }
}

.quote {
    border-left-style: solid;
    border-left-color: #9cffb1;
    border-left-width: 0.4rem;
    @include padding(null 2rem);
    padding-left: 1rem;
    background-color: rgba(0, 0, 0, 0.4);

    @include screen(md) {
        margin-top: 5rem;
        margin-left: 3rem;
    }
}

.blur {
    filter: blur(10px);
}

.koulen {
    // font-family: 'Georgia', cursive;
    font-family: 'Koulen', cursive;
}

.nav {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    @include padding(null 0.6rem);
}

.nav-elem {
    text-align: right;
    font-size: 2rem;
    padding-bottom: 0;
    padding-top: 0.5rem;
    font-family: 'Roboto', sans-serif;
    @include screen(md) {
        font-size: 3rem;
        margin-right: 1rem;
    }
}

.nav-title {
    @extend .nav-elem;
    padding-top: 0;
    font-family: 'Koulen', cursive;
    text-align: center;
}

.link-no-style {
    text-decoration: none;
    color: $def_font_color;
}

.link-no-style:visited {
    text-decoration: none;
    color: $def_font_color;
}

.link-no-style:default {
    color: $def_font_color;
}

.timer {
    font-size: 4rem;

}

#title-slider {
    margin: 0;
    margin-top: 0.5px;
    margin-bottom: 2rem;
}

#title-slider {
    text-align: center;
}
