{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>COSI</title>
  <link rel="stylesheet" type="text/css" href="/index.css" />

  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/anime.min.js"></script>
  <script src="/js/projects.js"></script>
  <script src="/js/index.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<body>

<div class="grid-1 nav">
  <div class="nav-title col-1">
    <a class="link-no-style" href="/">
      COSI
    </a>
  </div>

  <div class="nav-elem col-5">
  </div>
  <div class="nav-elem col-2">
    <a class="link-no-style" href="">
      About
    </a>
  </div>
  <div class="nav-elem col-2">
    <a class="link-no-style" href="/projects">
      Projects
    </a>
  </div>
</div>
<div class="grid-1-center">
  <div class="col-12-center" id="content">
    {% block content %}
    {% endblock %}
  </div>
</div>

</body>

</html>
