{% extends "base.html" %}

{% block content %}

<section class="main-section">
    Providing free quality open source software for the church and for everywhere in-between (that means you!)
</section>

<section class="main-section">
    <div class="scroll-appear">
        <h2 class="line-header"><b>open-source [adj]</b></h2>
        <br />
        1. of software: having the source code freely
        available for possible modification and redistribution.
    </div>

    <br />
    <br />

    <div class="scroll-appear"">
        <h2 class="line-header"><b>christian [noun]</b></h2>
        <br />
        1. one who professes belief in the teachings of Jesus Christ.
    </div>
    <br /> <br />
</section>

<section class="main-section c-blue-mid grid-center">
    <div class="quote col-6 scroll-in">
        <br />
        <i>"And you shall love the Lord your God with all
        your heart and with all your soul and with all
        your mind and with all your strength.'
        The second is this:
        <b>'You shall love your neighbor as yourself.'</b>
        There is no other commandment greater than these."
        </i>

        <br />
        <br />
        <b>Mark 12:30-31 (ESV; emphasis added)</b>
        <br />
        <br />
    </div>
</section>

{% endblock content %}
