{% extends "base.html" %}

{% block content %}
<section class="main-text-section-white">
    {{ page.content | safe }}

    {% if page.extra.project_link %}
        <a class="basic-button-link" href="{{page.extra.project_link}}">
            <div class="github-large">
                {% set github_button = resize_image(path='content/img/icons/291716_github_icon.png', height=30, width=30) %}
                <img src="{{ github_button.url }}" />
                <p>
                    Github
                </p>
            </div>
        </a>
    {% endif %}
</section>
{% endblock content %}
